{% extends "main/base.html" %}

{% block title %}
    Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <style>
    h1 {
            background-color: goldenrod;
        }
    </style>
    <center>
    <h1>LOGIN</h1>
    </center>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Login</button>
        <p>Don't have an account? Create one <a href="/reg/signup">here</a></p>
    </form>
{% endblock %}