{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Edit Match
{% endblock %}
{% block content %}
    <div class="container">
    <form method="POST">
      <fieldset>
        <legend>Edit match</legend>
        {% csrf_token %}
        {{ form_match|crispy }}
          <a href="/{{ l.league_id }}/editmatch/{{ m.match_id }}/as", class="btn btn-primary">Add Scores</a>
          <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
</div>
{% endblock %}