{% extends "main/base.html" %}
{% block title %}{{ l.name }}{% endblock %}
{% block content %}
    <h1>{{ l.name }}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for team in l.team_set.all %}
                <p><a href="{{ l.league_id }}/{{ team.team_id }}">{{ team.name }}</a><b>{{ team.points }}</b></p>
            {% endfor %}
                <p>games:</p>
            {% for match_list in m %}
                <p>Match day {{ forloop.counter }}</p>
                {% for match in match_list %}
                    <p>{{ match.home_team_id.name }} {{ match.home_team_result }} {{ " - " }} {{ match.away_team_result }} {{ match.away_team_id.name }}
                        <a href="{{ l.league_id }}/editmatch/{{ match.match_id }}"><i class="bi bi-pencil"></i></a> </p>
                {% endfor %}
            {% endfor %}
        </ul>
        <a href="/{{ l.league_id }}/createteam" class="btn btn-primary">Add new team</a>
        <a href="/" class="btn btn-primary">Return</a>
        <button type="submit", class="btn btn-primary", name="generateSchedule", value="generateSchedule", onclick="">Generate schedule</button>
        <button type="delete", class="btn btn-danger", name="deleteL", value="deleteL", >Delete league</button>
    </form>
{% endblock %}